@charset "UTF-8";



.cul2{
   width:85px;
}

.bottom{
	text-align:left;
	border-bottom:dotted 1px;
}

.bottom2{
	text-align:left;
}

.bottom3{
	border-bottom:dotted 1px;
}

.bt{
	padding:10px;	
}





